
<div class="container">
  <div class="profile-info">
    <div class="profile-info-text">
    <p><% user = current_user %></p>
    <p class="name"><%= user.first_name%> <%= user.last_name%></p>
    <p><%= user.country %>
    <br>
    <%= user.email %></p>
    </div>
    <div>
    <% if user.photo.present? %>
      <%= cl_image_tag user.photo, class: "avatar"%>
    <% end %>
    </div>
  </div>
<hr>


  <div class="js-tabs">
    <div class="tabs-header">
      <h6 class="tab tab-selected">My tips</h6>
      <h6 class="tab">My favourites</h6>
      <h6 class="tab">My reviews</h6>
    </div>

    <div class="tab-content tab-selected" style="left: 0%">
      <% user.facilities.each do |facility| %>
      <div class="card-profile-facility">
        <div>
          <h6><%= link_to facility.name,  facility_path(facility)%></h6>
          <p><%= facility.city.name %> </p>
          <% if current_user == facility.user %>
          <%= link_to "update", edit_facility_path(facility) %>
          <% end %>
        </div>
          <% if facility.photo.present? %>
            <%= cl_image_tag facility.photo%>
          <% end %>
      </div>


       <% end %>
    </div>
    <div class="tab-content" style="left: 100%">
      <% user.favourites.each do |favourite| %>
      <div class="card-profile-facility">
        <div>
        <% @facility = favourite.facility %>
        <h6><%= link_to favourite.facility.name,  facility_path(@facility)%></h6>
        <p><%= @facility.city.name %></p>
        <%=  link_to "", favourite_path(favourite), method: :delete, data: { confirm: "are you sure?" }, class: "fa fa-trash pink" %></p>
         </div>
        <% if @facility.photo.present? %>
      <%= cl_image_tag @facility.photo%>
      <% end %>
        <br>
        </div>
      <% end %>
    </div>
    <div class="tab-content" style="left: 200%">
      <% user.reviews.each do |review| %>
      <div class="card-profile-review">
        <% @facility = review.facility %>
        <h6><%= link_to review.facility.name,  facility_path(@facility)%>
        <%= review.facility.city.name %> </h6>
        <p> <%= review.content %> </p>
      </div>
       <br>
      <% end %>
    </div>
    </div>
  </div>
