<div class="container-nav">
  <% if current_page?("/")  %>
  <div class="burger dropdown">
    <img class="avatar dropdown-toggle" id="openSlideOut" src="https://cdn3.iconfinder.com/data/icons/menu-icons-1/100/menu-512.png"/>
  </div>
  <% else %>
    <div class="burger dropdown with-home" style="background-color: RGBA(255,255,255,0.7)">
      <img class="avatar dropdown-toggle" id="openSlideOut" src="https://cdn3.iconfinder.com/data/icons/menu-icons-1/100/menu-512.png"/>
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
  <% end %>
</div>

<nav id="menu">
  <header>
    <div id="closeSlideOut">

    </div>
    <div class="slide-content">
      <% if current_user.present? %>
      <ul>
        <li>
          <h5><%= current_user.email %></h5>
        </li>
        <li>
          <img src="https://i.pinimg.com/originals/77/fd/f0/77fdf077b7dae33dc550d64142007a35.jpg" alt="">
        </li>

        <div class="slidepage">
          <li>
           <%= link_to "Home", root_path %>

         </li>
         <li>
          <%= link_to "My profile", user_path(current_user)  %>
        </li>

        <li>
          <%= link_to "Add a restaurant", new_category_facility_path(Category.find_by_name("Restaurant").id) %>
        </li>
        <li>
          <%= link_to "Add a playground", new_category_facility_path(Category.find_by_name("Playground").id) %>
        </li>
        <li>
          <%= link_to "Add an activity", new_category_facility_path(Category.find_by_name("Activity").id) %>
        </li>
        <li>
          <%= link_to "Add a restroom", new_category_facility_path(Category.find_by_name("Restroom").id) %>
        </li>
      </ul>
    </div>
    <div class="logout">
      <%= link_to "Log out", destroy_user_session_path, method: :delete  %>
    </div>

    <% else %>
    <h3>Welcome to Famtravel</h3>

    <p><%= link_to "Log in", new_user_session_path %></p>
    <% end %>
  </div>

</header>
</nav>
