
<div class="all-share-your-tip">
<div class="container">
<h2>Hi! Update the information please</h2>


<div>
    <%= simple_form_for @facility do |f| %>
    <% cat_name = Category.find(params[:category_id]).name if params[:category_id] %>
    <%= f.input :city_id, collection: @cities %>
    <div class="add-city">
    Cant't find your city? <%= link_to "Add a new city", new_city_path(category_id: params[:category_id]), { :class=>"button-ghost" } %>
    </div>
    <br>
    <%= f.input :name, label: "Name of the #{cat_name}"%>
    <%= f.input :address, label: "Address" %>
    <%= f.input :website_link, label: "Website" %>
    <%= f.association :features, collection: @features, as: :check_boxes, wrapper_html: { class: "features-grid" } %>
    <%= f.input :category_id, collection: @categories, as: :hidden %>



    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Update", class: "button-pink button-wide" %>
    <% end %>
  </div>
</div>
</div>

</div>
</div>
