<div class="entire-page">
  <div class="top-of-page">

    <div class="banner-photo">

      <%#= cl_image_tag Category.find_by(id: params[:search][:category_id].to_i).photo %>
    </div>
    <br>
    <br>
    <% @facilities.each do |facility| %>
      <div class="card-facility">
      <% if facility.photo.url %>
      <%= cl_image_tag facility.photo, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%#part added%>
      <% if current_user.nil? %>
        <% facility_path(facility) %>
      <% elsif current_user == facility.user %>
        <%= link_to "update", edit_facility_path(facility) %>
      <% elsif current_user.admin? %>
        <%= link_to "delete", facility_path(facility), method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "update", edit_facility_path(facility) %>
      <% end %>

        <div class="card-facility-content">
          <ul>
            <li><%= link_to facility.name, facility_path(facility) %></li>
            <li><%= facility.address %></li>
            <li><%= facility.city.name %></li>
          </ul>
          <br>
        </div>
        <% if facility.reviews.any? %>
          <div class="card-facility-rating">
         <% facility.average_rating.times do%>
         <span class="fa fa-star checked"></span>
         <% end %>
         <% (5 -facility.average_rating).times do%>
         <span class="fa fa-star empty"></span>
         <% end %>
          </div>
        <% else %>
          <div class="card-facility-rating">
          <% 5.times do%>
            <span class="fa fa-star empty"></span>
          <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="push"></div>

  </div>

  <div class="index-footer">
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Playground").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("playground.png", class: "cat-icon") %>
      <% end %>
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Restaurant").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("restaurant.png", class: "cat-icon") %>
      <% end %>
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Restroom").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("restroom.png", class: "cat-icon") %>
      <% end %>
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Activity").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("activity.png", class: "cat-icon") %>
      <% end %>
  </div>
</div>

