<div class="entire-page">
  <div class="top-of-page">

    <div class="banner-photo">

      <%= cl_image_tag City.find_by("name ILIKE ?", params[:search][:keyword]).photo, class: "city-photo" %>
    </div>
    <div class="index-buttons">
      <%= link_to "Add a facility", new_facility_path(category_id: params[:search][:category_id]), class: "btn btn-primary" %>

      <%= link_to "Home page", root_path, class: "btn btn-primary" %>
    </div>


      <% @facilities.each do |facility| %>
      <div class="card-facility">
      <% if facility.photo.url %>
      <%= cl_image_tag facility.photo, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%#part added%>
      <% if current_user.admin? %>
      <%= link_to "delete", facility_path(facility), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>

      <div class="card-facility-content">
       <%= link_to facility.name, facility_path(facility) %>
       <%= facility.address %>
       <%= facility.rating %> - <%= facility.city.name %>
       <br>
     </div>

     <div class="card-facility-rating">
     <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
    </div>
    <% end %>


  <div class="index-footer">
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Playground").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("playground.png", class: "cat-icon") %>
      <% end %>
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Restaurant").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("restaurant.png", class: "cat-icon") %>
      <% end %>
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Restroom").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("restroom.png", class: "cat-icon") %>
      <% end %>
      <%=  link_to facilities_path(request.parameters.dup.merge!(search: {category_id: Category.find_by_name("Activity").id, keyword: params[:search][:keyword]} )) do %>
        <%= image_tag("activity.png", class: "cat-icon") %>
      <% end %>

  </div>
  <br>
</div>

</div>
</div>
