<div class="container">

<h2>Share your tip to other users</h2>



<div>
    <%= simple_form_for ([@category, @facility]) do |f| %>
    <%= f.input :name, label: "Name" %>
    <%= f.input :address, label: "Address" %>
    <%= f.input :website_link, label: "Website" %>
    <%= f.input :rating, collection: 1..5, prompt: "Give a rating", selected: 5 %>
    <%= f.association :features, collection: @features, as: :check_boxes %>
    <%= f.input :photo %>
    <%= f.input :city_id, collection: @cities %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Add your #{@category.name}", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>

</div>
