<% if @facility.photo.url != nil %>
<div id="banner-show-override" class="banner-show banner-picture-show-border" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
url('<%= cl_image_path @facility.photo.url, height: 900, width: 540, crop: :fill %>')">
</div>
<% end %>

<div class="show-container">

  <div class="show-name">
    <h4><%= @facility.name  %></h4>
    <% if current_user&.favorited?(@facility) %>
    <% favourite = current_user.get_fav_instances(@facility) %>
    <p><%= link_to "", favourite_path(favourite), method: :delete, class: "fas fa-heart heart_unchecked" %></p>

    <% else %>
    <p><%= link_to "", facility_favourites_path(@facility), method: :post, class: "fas fa-heart heart_checked" %></p>
    <% end %>
  </div>



  <div class="show_info">
    <div class="facility_details">
      <p><%= @facility.city.name %></p>
      <p><%= @facility.address %></p>
      <p><%= @facility.website_link %></p>

      <% @facility.average_rating.times do%>
      <span class="fa fa-star checked"></span>
      <% end %>
      <% (5 -@facility.average_rating).times do%>
      <span class="fa fa-star empty"></span>
      <% end %>
      <div class="review-number">Reviews: <%= @facility.reviews.count %></div>
    </div>

      <!-- code added for the map -->
      <div class="show-map">
        <%=  link_to facility_map_path(@facility) do  %>
          <div id="map" style="width: 200px; height: 200px; "data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"> </div>
        <% end %>
      </div>
  </div>
  <br>
      <div class="features-grid">
        <% @features.each do |feature| %>
        <div class="feature"><i class="fa fa-check"></i> <%= feature.name %></div>
        <% end %>
      </div>
      <br>

    <%= link_to "Add a review", new_facility_review_path(@facility), class: "review-btn" %>

  <div>
    <br>
    <% @facility.reviews.each do |review| %>
    <div class="review-box">
      <p><% review.rating.times do %>
       <span class="fa fa-star checked"></span>
       <% end %>

       <% (5 - review.rating).times do  %>
       <span class="fa fa-star empty"></span>
       <% end %>
       <br>
       <p><%= review.content %></p>
       <% if review.photo.present? %>
        <%= cl_image_tag review.photo, height: 150, width: 200, crop: :fill %>
       <% end %>
       <p class="reviewer"><%=  review.user.first_name %> from <%= review.user.country %>
      <% if review.user.baby %>
        <i class="fas fa-baby-carriage review-icons"></i>
      <% end %>
      <% if review.user.toddler %>
        <i class="fas fa-child review-icons"></i>
      <% end %>
      <% if review.user.child %>
        <i class="fas fa-bicycle review-icons"></i>
      <% end %>
     </p>
     </div>
     <br>
     <% end %>
     <br>
   </div>
    <div class="back-btn">
  <%= link_to facilities_path(search: {city_id: @facility.city_id}) do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
</div>

