<% if @facility.photo.url != nil %>
  <div id="banner-show-override" class="banner-show banner-picture-show-border" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
url('<%= cl_image_path @facility.photo.url, height: 900, width: 540, crop: :fill %>')">
  </div>
<% end %>

<div class="show-container">
  <h2><%= @facility.name  %></h2>

  <ul>
    <% @features.each do |feature| %>
    <li><i class="fa fa-check"></i> <%= feature.name %></li>
    <% end %>
  </ul>
  <%#= cl_image_tag @facility.photo, height: 300, width: 400, crop: :fill %>
  <h6><%= @facility.city.name %></h6>
  <h6><%= @facility.address %></h6>
  <h6><%= @facility.website_link %></h6>

  <% @facility.average_rating.times do%>
 <span class="fa fa-star checked"></span>
<% end %>
  <% (5 -@facility.average_rating).times do%>
 <span class="fa fa-star empty"></span>
<% end %>

  <br>
  <%= link_to "Home page", root_path, class: "btn btn-primary" %>
  <%= link_to "Back to the list", :back, class: "btn btn-primary" %>

  <%= link_to "Add a review", new_facility_review_path(@facility), class: "btn btn-primary" %>
  <div>
    <br>
      <% @facility.reviews.each do |review| %>
      <div class="review-box">
      <h5><%  review.user.email %> from <% review.user.country %></h5>
      <p><% review.rating.times do %>
 <span class="fa fa-star checked"></span>
<% end %>

  <% (5 - review.rating).times do  %>
 <span class="fa fa-star empty"></span>
<% end %>

        <%= review.content %></p>
        <% if review.photo.present? %>
        <%= cl_image_tag review.photo, height: 150, width: 200, crop: :fill %></p>
        <% end %>
      </div>
        <br>
        <% end %>
        <br>
      </div>
    </div>
