<div class="container">

  <div class="banner_show">
    <h1><%= @facility.name  %></h1>
  </div>

  <% @features.each do |feature| %>
  <p><%= feature.name %></p>
  <% end %>

  <h4><%= @facility.city.name %></h4>
  <h4><%= @facility.address %></h4>
  <h4>Rating: <%= @facility.rating %></h4>
  <h4><%= @facility.website_link %></h4>





    <div>
      <br>
     <p>Here we will have all the reviews</p>
   </div>
</div>
