<div id="banner-show-override" class="banner-show banner-picture-show-border" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
url('<%= cl_image_path @facility.photo.url, height: 900, width: 540, crop: :fill %>')">
</div>

<div class="container">
  <div class="show-container">
    <h2><%= @facility.name  %></h2>

    <ul>
      <% @features.each do |feature| %>
      <li><i class="fa fa-check"></i> <%= feature.name %></li>
      <% end %>
    </ul>
    <h6><%= @facility.city.name %></h6>
    <h6><%= @facility.address %></h6>
    <h6>Rating: <%= @facility.rating %></h6>
    <h6><%= @facility.website_link %></h6>





    <div>
      <br>
      <p>Here we will have all the reviews</p>
    </div>
  </div>
</div>
