<div class="review-all">
<div class="container">

<h2>Share your opinion with other users</h2>
<div>
    <%= simple_form_for([@facility, @review]) do |f| %>
    <%= f.input :content, label: "Tell us what do you think of this #{@facility.category.name}" %>
    <% 5.times do |n|%>
      <i id="star_rating" class="fas fa-star fa-lg" data-value="<%= n + 1%>"></i>
    <% end %>
    <%= f.input :rating, as: :hidden,  collection: 1..5, prompt: "Give a rating", selected: 5%>
    <div class="reviews-buttons">
      <div>
      <%= f.input :photo, input_html: { class: "inputfile" }, label_html: { class: "btn black-bordered-btn" } %>
      </div>
      <%= f.input :photo_cache, as: :hidden %>
      <div>
      <%= f.submit "Add your review", class: "black-bordered-btn-two" %>
       </div>
    </div>
    <% end %>
  </div>


</div>
</div>
