<div class="container">

<h2>Share your tip to other users</h2>
<div>
    <%= simple_form_for([@facility, @review]) do |f| %>
    <%= f.input :content, label: "Tell us what do you think of this #{@category.name}" %>
    <%= f.input :rating, collection: 1..5, prompt: "Give a rating", selected: 5 %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Add your #{@category.name}", class: "btn btn-primary" %>
    <% end %>
  </div>


</div>

