<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Famtravel - Helping families on the road</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'suitcase_logo.ico' %>
    <meta property="og:title" content="Famtravel - Helping families on the road">
    <meta property="og:image" content="Family-travel.jpg">
    <meta property="og:description" content="Famtravel helps parents travelling in new cities to find the best kids friendly places.">
    <meta property="og:site_name" content="Famtravel"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400i,700i|Architects+Daughter|Delius+Unicase|Gloria+Hallelujah|Lakki+Reddy|Mali|Pacifico|Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <%= render "shared/navbar" %>
    <% if current_page?('/') %>
      <main id="panel" style="margin-top: -50px">
         <%= yield %>
       </main>
    <% else %>
      <main id="panel">
         <%= yield %>
       </main>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>

